.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  gap: 3rem;

  &__row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex: 1; 
    min-height: 100px;

    &--two {
      .home__item {
        flex: 1 1 50%;
      }
    }

    &--three {
      .home__item {
        flex: 1 1 33.3333%;
      }
    }
  }

  &__item {
    background-color: var(--dark-purple);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 100%; 
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 1rem;
  }

  &__icon {
    font-size: 1.5rem; 
    color: var(--icon-color);
    transition: color 0.3s ease;
  
    &:hover {
      color: var(--icon-hover-color);
    }
  
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  .item-button{
    background-color: var(--pink);

    &:hover {
      background-color: var(--blue);
    }

  }
}

@media (max-width: 768px) {
  .home {
    gap: 3rem;
    padding: 2rem;
    height: auto;

    &__row {
      flex-direction: column;

      &--two {
        margin-top: 3rem;
      }

      &__item {
        flex: 1 1 auto;
        width: 100%;
        height: auto;
      }
    }
  }
}