.remove-vowels {
  padding: 1rem;
  max-width: 1400px;
  margin: 3rem;
  justify-content: center;
  align-items: center;


  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  &__input {
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--black);
    border-radius: 4px;
  }

  &__result {
    font-size: 1rem;
    color: var(--dark-purple);
  }
}
